<% if @crops.present? %>
<%= content_for(:title) do %><%= @crops.first.name %><% end %>
<%= content_for(:social_image) do %><%= image_url(@crops.first.main_image_path) %><% end %>
<%= content_for(:description) do %><%= truncate(@crops.first.description, length: 140, separator: ' ') %><% end %>
<% else %>
<%= content_for(:title) do %><%= t('.title') %><% end %>
<% end %>

 <div class="search-page-bg">
    <div class="row">
        <div class="columns medium-3 small-12">
            <label class="control-label">Guide search</label>
            <input type="text" class="form-control fa fa-user" placeholder="Tomatoes" />
        </div>
        <div class="columns medium-3 small-12">
            <label class="control-label">When</label>
            <div class="form-component input--medium input--search">
                <input type="text" placeholder="Search">
            </div>


        </div>
        <div class="columns medium-3 small-12">
            <label class="control-label">Climate zone</label>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="Climate zone" />
                </div>

        </div>
        <div class="columns medium-3 small-12">
            <label class="control-label">Search</label>
        <button type="submit" class="btn" style="padding-bottom:0px; float: left;" padding-bottom:0px;><i class="fa fa-search"></i>
        </button>
        </div>

    </div>
<div class="row">
            <label class="control-label">Climate zone</label>

            <button class="btn btn-xs search-btn">PREPARE</button>
            <button class="btn btn-sm search-btn">SOW</button>
            <button class="btn btn-sm search-btn">GERMINATE</button>
            <button class="btn btn-sm search-btn">BLOSSOM</button>
            <button class="btn btn-sm search-btn">HARVEST</button>
            <button class="btn btn-sm search-btn">POST PROCESS</button>




        </div>
    </div>
</div>

</div>
<!-- <div class="row">
    <div class="search-bar-container col-md-3">
        <div class="search-bar">
            <div class="search-input-container">
                <div crop-search="">
                    <div class="row collapse postfix-radius"></div>

                </div>
            </div>
        </div>
    </div>
</div> -->
</div>